<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab12_Alekseev_Igor.Properties.Settings.Lab12ConnectionString"
            connectionString="Data Source=LAPTOP-3D79O1G8\SQLEXPRESS;Initial Catalog=Lab12;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>